.bg-getting {
  background-image: url('../../assets/bg/bg-instore.png');
  background-repeat: no-repeat;
  background-position: 40% 30%;
  background-size: 120%;
}

@media only screen and (max-width: 1440px) {
  .bg-getting {
    background-image: url('../../assets/bg/bg-instore.png');
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 120%;
  }
}

@media only screen and (max-width: 1024px) {
  .bg-getting {
    background-image: url('../../assets/bg/bg-instore.png');
    background-repeat: no-repeat;
    background-position: 0% 20%;
    background-size: 130%;
  }
}
